
        body {
            background-color: blue;
            /* display:flex; */

        }


        /* RULES ON WHOLE APP */

        .app {
            background-image: url('./BackgroundPictures.coulds.jpg');
        }


        /*RULES ON MAIN OF THE APP */
        main {
            background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.25), rgb(0, 0, 0, 0.75));
            width: 80%;
            margin: 0 auto;


        }

        /* SEARCH PART */

        .search-box {
            background-color: white;
        }

        .search-bar {
            width: 30%;
            margin-top: 5%;
            margin-left: 10%;
            border-style: solid;
            border-color: blueviolet;
            border-radius: 0px;
            background-color: cadetblue;
            color: white;
            font-size: 130%;
            transition: 0.4;


        }

        .search-bar:focus {
            border-style: solid;
            border-color: blueviolet;
            border-radius: 15px;

            background-color: chocolate;

        }


        ::-webkit-input-placeholder {
            /* Edge */
            color: white;
            text-align: center;
            font-size: 130%;
        }

        /* RULES ON THE WHOLE WEATHER DISPLAY PART */
        .weather-wrap {
            color: white;


        }

        /* WEATHER LOCATION PART */

        .location-box {
            text-align: center;

        }

        .weather-location {
            color: yellow;
            font-size: 180%;
            font-weight: bold;
            margin-top: 2%;
        }

            .far{
                color:yellow;
            font-size: 480%;
            }

            .fas {
                color:black;
            font-size: 480%;
            }

            .fa-temperature-high {
                color:red;
            font-size: 480%;
            }
            .fa-temperature-low {
                color:darkblue;
            font-size: 480%;
            }
            .fa-wind {
                color:darkgrey;
            font-size: 480%;
            }


            

        /* CURRENT WEATHER PART */
        .current-weather-box {
            text-align: center;
            border-style: solid;
            border-radius: 2px;
            border-width: 2px;
            width: 30%;
            margin: 0 auto;
        }

   

        /* FORECAST WEATHER PART */
        .forecast-weather-box {
            text-align: center;
        }
    